#janieBackgroundImage {
	background-image: url(https://i.imgur.com/iQCTEHQ.jpg);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

#janieProfilePicture {
	width: 35vh;
	border-radius: 50%;
}

#home {
	min-height: 100vh;
}
